@font-face{
    font-family: 'honyaji';
    src: url('/font/HonyaJi-Re.ttf') format('truetype');
}

html {
    -webkit-locale: "ja";
}

body {
    font-family: 'honyaji';
    font-weight: bold;
    -webkit-text-size-adjust: 100%;
}

div {
    font-size: 3rem;
}

.yokocenter{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tatemargin{
    margin-top: 1rem;
    margin-bottom: 1rem;
}