.numselect{
    width: auto;
}

.komaselect{
    width: auto;
}

.charselect{
    width: auto;
}

.sendbtn{
    width: auto;
}

.custom-select {
    font-size: inherit;
}

option {
    border: 1px solid #999;
    font-size: 1rem;
}